@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('Annie Use Your Telescope Regular'), local('AnnieUseYourTelescope-Regular'), url(https://fonts.gstatic.com/s/annieuseyourtelescope/v9/daaLSS4tI2qYYl3Jq9s_Hu74xwktnlKxH6osGVGTkz3A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v12/esDR31xSG-6AGleN2tWkkA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
  font-family: 'ABeeZee';
  font-size: 12px;
 }
 .row 
 {
   margin: 0 !important;
 }

/* Estilo do cabeçalho */
header {
  max-height: 60px;
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(175, 110, 255, 0.7);
  z-index: 999;
}
/* Botão de menu oculto */
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
/* Estilo do corpo da página */
body {
  margin-top: 60px !important;
  padding: 30px;
}
/* Botão de menu oculto */
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
/* Estilo do corpo da página */
body h1 {
    font-family: 'Annie Use Your Telescope';
    font-weight: bold;
    text-align: center;
}
.linkagens {
    float: right;
}
.btn {
  padding: 5px 30px !important;
}
.linkagens a {
  color: darkcyan !important;
  cursor: pointer;
}
/* Estilo para desktop */
@media screen and (min-width: 767px){    
  /* Estilo do menu suspenso */
  .navbar {
    position: absolute;
    right: 0;
  }
  /* Menus lado a lado */
  header .navbar > ul > li{
    display: inline-block;
    margin: 0;
    padding-bottom: 20px;
  }
  header .navbar > ul > li:first-child{
      border-left: none;
  }
  header .navbar > ul > li > a {
    text-decoration: none;
  }
  header > .navbar > ul > li > a {
    padding: 10px;
    background: #2D1880;
    margin: 0;
    color: white;
    font-weight: bold;
  }
  header > .navbar > ul > li > a:hover {
    background: #6E4AFF;
    color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }
}
/* Menu lateral para celulares */
@media screen and (max-width: 767px) {
    /* Exibi o botão de expandir menu */
    header .control-nav {
      position: absolute;
      left: 20px;
      top: 20px;
      display: block;
      z-index: 2;
      cursor: pointer;
    }
    header .control-nav:after {
      font-family: 'Font Awesome 5 Free';
      content: "\f0c9";
      font-size: 25px;
      font-weight:900;
      position: absolute;
      align-content: center; 
      top: -5px;
    }
    header .control-nav:before {
      content: "";
      display: block;
      height: 3px;
    }
    header .control-nav-close {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 1;
      background: rgba(0, 0, 0, 0.4);
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
    }
    header .navbar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 250px;
      padding: 30px 15px;
      border-left: 1px solid #ccc;
      background: #fff;
      overflow-x: auto;
      z-index: 2;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
    }
    #control-nav:checked ~ .control-nav-close {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    #control-nav:checked ~ .navbar {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    /* Menu lateral */
    header .navbar ul {
      list-style-type: none;
      padding: 0;
    }
    header .navbar li {
      padding: 5px;
      border-bottom: 1px black solid;
    }
}
    