*{
 font-family: "Lucida Sans Unicode, Lucida Grande, sans-serif";
}
/* Estilo do cabeçalho */
header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #202EE8;
  z-index: 999;
}
/* Estilo do corpo */
body {
  background: grey;
  margin-top: 60px !important;
}
/* Botão de menu oculto */
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
/* Estilo da sessão de carrousel */
#carrousel {
  text-align: center; 
  position: relative;
  height: 100%;
  z-index: 5;
  border-top: 1px solid #ccc;
  font-size: 20px;
}
#carrousel .vamosla {
  border-radius: 5px;
  border: 2px solid #202EE8;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#carrousel .vamosla:hover {
  background-color: #5630FF;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  color: white;
}
#carrousel .bg{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity:  0.5;
  background: url("../../imagens/home/women-busy.jpg") no-repeat center center fixed;
  background-size: cover;
}
#carrousel > h1{
  margin: 0;
  padding-top: 120px;
  text-shadow: 2px 2px white;
  color: black;
  text-align: center;
  font-size: 7vw;
}
#carrousel > h2{ 
  text-align: center;
  font-size: 2vw;
  color: black;
  margin: 0;
}
/* Estilo geral das sessões */
#em_alta,
#sobre_nos,
#categorias,
#sobre {
  text-align: justify;
  text-justify: inter-word;
  min-height: 110%;
  padding: 10px 50px;
  border-top: 1px solid #ccc;
  background: white;
  font-size: 20px;
}
/* Estilo da sessão de categorias */
#categorias .categoria {
  border: 1px black solid;
  display: inline-block;
  margin: 3px;
  padding: 10px;
  font-size: 15px;
}
#categorias .categoria h1{
  font-size: 17px;
  font-weight: bold;
}
#categorias .categoria i{
  font-size: 2vw;
}
#categorias .categoria button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
}
#categorias .categoria button:hover {
  background-color: rgb(0, 92, 0); /* Green */
  color: white;
}
#saude_capilar:hover,
#saude_intima:hover,
#receitas_rapidas:hover,
#calendario:hover {
  background: rgb(110, 110, 199);
  color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
/* Estilo da sessão em alta */
#em_alta .post {
  position: relative;
  border: 1px black solid;
  display: inline-block;
  margin: 3px;
  padding: 10px;
  font-size: 15px;
}
#em_alta .post h1{
  font-size: 17px;
  font-weight: bold;
}
#em_alta .post i{
  font-size: 2vw;
}
#em_alta .post button{ 
  bottom: 0;
  position: absolute;
  right: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
}
#em_alta .post button:hover {
  background-color: rgb(0, 92, 0); /* Green */
  color: white;
}
#em_alta .veja_mais {
  height: 30px;
}
#em_alta .veja_mais a{
  float: right;
}
/* Estilo da sessão sobre nós */
#sobre_nos {
  text-align: justify;
  text-justify: inter-word;
}
/* Espaço para salto de âncora */
.jumptarget::before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}
footer {
  text-align: center;
}
/* Estilo para desktop */
@media screen and (min-width: 767px){
  /* Estilo do carrousel */
  #carrousel > p{ 
    font-size: 1.5vw;
    text-align: center;
    padding: 50px 250px 20px 250px;
  }
  /* Estilo das sessões */
  #categorias > h1,
  #em_alta > h1,
  #sobre_nos > h1,
  #sobre > h1{
    text-align: center;
    font-size: 4vw;
  }
  /* Estilo do menu suspenso */
  nav {
    position: absolute;
    right: 0;
  }
  /* Menus lado a lado */
  header nav > ul > li{
    display: inline-block;
    margin: 0;
    padding-bottom: 20px;
  }
  header nav > ul > li:first-child{
      border-left: none;
  }
  header nav > ul > li > a {
    text-decoration: none;
  }
  header > nav > ul > li > a {
    padding: 10px;
    background: #2D1880;
    margin: 0;
    color: white;
    font-weight: bold;
  }
  header > nav > ul > li > a:hover {
    background: #6E4AFF;
    color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }
  /* Menu dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6E4AFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    font-size: 14px;
    color: black;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
/* Menu lateral para celulares */
@media screen and (max-width: 767px) {
  /* Estilo da sessão de carrousel */
  #carrousel > h1{
    font-size: 14vw;
  }
  #carrousel > h2{ 
    text-align: center;
    font-size: 5vw;
    color: black;
    margin: 0;
  }
  #carrousel > p{ 
    font-size: 5vw;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px;
  }
  /* Estilo geral das sessões */
  #categorias > h1,
  #em_alta > h1,
  #sobre_nos > h1,
  #sobre > h1{
    text-align: center;
    font-size: 9vw;
  }
  /* Estilo da sessão de categoria */
  #categorias .categoria h1{
    font-size: 16px;
  }
  #categorias .categoria i{
    font-size: 20px;
  }
  /* Estilo da sessão de em alta */
  #em_alta .post h1{
    font-size: 16px;
  }
  #em_alta .post i{
    font-size: 20px;
  }
  /* Exibi o botão de expandir menu */
  header .control-nav {
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    z-index: 2;
    cursor: pointer;
  }
  header .control-nav:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c9";
    font-size: 25px;
    font-weight:900;
    position: absolute;
    align-content: center; 
    top: -5px;
  }
  header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
  }
  header .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 30px 15px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  #control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #control-nav:checked ~ nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* Menu lateral */
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  header nav li {
    padding: 5px;
    border-bottom: 1px black solid;
  }
  /* Menu dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
